<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>index</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="../static/src/css/bace.css">
<link rel="stylesheet" type="text/css" href="../static/src/css/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/css/index.css">
</head>

<body>    
<div id="page">
      <div class="title"></div>
      <div class="top clearfix">
         <div class="area ">
             <!--  <div class="head"></div> -->
              <div class="bodybg ">
                 <div class="itite">
                    教学点<br/>分布 
                 </div>
                 <span class="420100"></span>
                 <span class="420200"></span>
                 <span class="420300"></span>
                 <span class="420500"></span>
                 <span class="420600"></span>
                 <span class="420700"></span>
                 <span class="420800"></span>
                 <span class="420900"></span>
                 <span class="421000"></span>
                 <span class="421100"></span>
                 <span class="421200"></span>
                 <span class="421300"></span>
                 <span class="422800"></span>
                 <span class="429004"></span>
                 <span class="429005"></span>
                 <span class="429006"></span>
                 <span class="429021"></span>
              </div>
         </div>
       
        <div class="info ">
            <div class="head"></div>
            <div class="body">
              <div class="item clearfix">
                    <div id="totle">
                      <div class="name">教学点班级</div>
                      <span class="class_total num">0</span>
                    </div>
                    <div id="totle2">
                      <div class="name">授课教师数</div>
                      <span class="teacher_total num">0</span>
                  </div>
                   <div id="totle3">
                      <div class="name">教学点总数</div>
                      <span class="school_total num">0</span>
                   </div>
             </div>      
         
             <div class="item clearfix">
                <div id="totle4">
                  <div class="name">受益学生数</div>
                  <span class="nstudent_total num">0</span>
                </div>
                <div id="totle5">
                  <div class="name">在线课堂开课</div>
                  <span class="course_total num">0</span>
                </div>
              </div>
            </div>
        </div>
          <div class="map" id="map">
            <span class="span" id="back" style="display: none;"></span>
        </div>
		</div>
		<div class="bottom clearfix">
          <div class="bottom_1">
              <div class="itemTitle itemTitle1"></div>
              <div id="main" style="width:100%;height:100%;">
              
              </div>
          </div>
          <div class="bottom_2">
               <div class="itemTitle itemTitle2">
                
                </div>
               <div id="main2" style="width:100%;height:100%;"></div>
          </div>
          <div class="bottom_3">
              <div class="itemTitle itemTitle3">
                
              </div>
              <div id="main3" style="width:100%;height:100%;"></div>
          </div>
		</div>

<script type="text/javascript" src="../static/src/js/lib/echar.js"></script>
<script type="text/javascript" src="../static/src/js/lib/raphael.js"></script>
<script src="../static/src/js/lib/require.js"></script>
<script type="text/javascript" src="../static/src/js/re-config.js"></script>
<script type="text/javascript" src="../static/src/js/index.js"></script>
</body>  
</html>